.nav_detail{
    position: relative;
    overflow: auto;
}

.nav_detail::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.nav_detail:hover::-webkit-scrollbar { 
    display: block;
    width: 14px;
}
.nav_detail:hover::-webkit-scrollbar-thumb { 
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
}
