.scroll-bar-relative{
    position: relative;
    overflow: auto;
}

.scroll-bar-absolute{
    position: absolute;
    top:0px;
    right: 0px;
}
.scroll-bar-fixed{
    position: fixed;
    width: 15px;
    height: 100%;
    background: rgba(20, 20, 20,0.95);
    background: rgba(20, 20, 20,0.9);
    /* background: rgba(20, 20, 20,0.15); */

}